<?xml version="1.0" encoding="utf-8" ?>
<settings>
  <xconnect>
    <!-- xConnect service URI -->
    <uri>https://sc9.xconnect/</uri>
    <!-- Client certificate for the xConnect server. -->
    <certificate>
      <AllowInvalidClientCertificates>true</AllowInvalidClientCertificates>
      <StoreName>My</StoreName>
      <StoreLocation>LocalMachine</StoreLocation>
      <FindType>FindByThumbprint</FindType>
      <FindValue>677E7CCCF8091DB63F8B2C07B5205ACA330336A0</FindValue>
    </certificate>
  </xconnect>
  <aws>
    <region>us-west-2</region>
    <kinesisStream>vdymna-xconnect-test</kinesisStream>
    <checkpointTable>StreamingCheckpoint</checkpointTable>
  </aws>
</settings>
