<?xml version="1.0" encoding="utf-8" ?>
<settings>
  <xconnect>
    <!-- xConnect service URI -->
    <uri></uri>
    <!-- Client certificate for the xConnect server. -->
    <certificate>
      <AllowInvalidClientCertificates>true</AllowInvalidClientCertificates>
      <StoreName>My</StoreName>
      <StoreLocation>LocalMachine</StoreLocation>
      <FindType>FindByThumbprint</FindType>
      <FindValue></FindValue>
    </certificate>
  </xconnect>
  <aws>
    <!-- AWS Region -->
    <region></region>
    <!-- Kinesis Firehouse Delivery Stream Name -->
    <kinesisStream></kinesisStream>
    <!-- DynamoDB Checkpoint Table Name -->
    <checkpointTable></checkpointTable>
  </aws>
</settings>
